@define-color primary #1AFFFF;
@define-color secondary #DDDDDD;
@define-color background #000000;

* {
    font-size: 16px;
    font-family: "Mononoki Nerd Font";
    font-weight: bold;
    background-color: transparent;
}

#custom-power-menu,
#custom-launcher,
#workspaces,
#window,
#battery,
#backlight,
#pulseaudio,
#custom-keyboard-layout,
#clock,
#tray {
    background-color: alpha(@background, 0.75);
    padding-left: 1.0rem;
    padding-right: 1.0rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
    border-bottom: 3px solid @primary;
    border-top: 3px solid @primary;
}

#custom-power-menu {
    color: @primary;
    background-color: @background;
    border: 3px solid @primary;
    border-right: 3px solid @primary;
    border-radius: 100px 0px 0px 10px;
    margin-left: 10px;
    padding: 0px 20px 0px 25px;
}

#custom-launcher {
    color: @primary;
    background-color: @background;
    border: 3px solid @primary;
    border-left: 0px;
    border-radius: 0px 10px 100px 0px;
    padding: 0px 30px 0px 20px;
}

#workspaces {
    color: @primary;
    border: 3px solid @primary;
    border-radius: 100px 10px 100px 10px;
    padding: 0px 25px 0px 25px;
}

#workspaces button {
    color: @primary;
    padding-left: 1.0rem;
    padding-right: 1.0rem;
    font-size: 24px;
}

#workspaces button.active {
    color: @background;
    background-color: @secondary;
    border-radius: 0px;
    font-size: 28px;
}

#window {
    border-radius: 70px 70px 10px 10px;
    border: 3px solid @primary;
    color: @primary;
    padding-left: 2.0rem;
    padding-right: 2.0rem;
}

window#waybar.empty #window {
    border: 0px;
    color: alpha(#000000, 0);
    background-color: alpha(#000000, 0);
}

#battery {
    color: @primary;
    border: 3px solid @primary;
    border-right: 0;
    border-radius: 10px 0px 0px 100px;
    padding: 0px 10px 0px 25px;
    margin-right: 0;
}

#backlight,
#pulseaudio,
#custom-keyboard-layout {
    color: @primary;
    border: 3px solid @primary;
    border-right: 0px;
    border-left: 1px solid @primary;
    padding: 0px 10px 0px 10px
}

#clock {
    color: @primary;
    border: 3px solid @primary;
    border-left: 1px solid @primary;
    border-radius: 0px 100px 10px 0px;
    padding: 0px 25px 0px 10px;
    margin-left: 0;
}

#tray,
#tray menu {
    color: @secondary;
    background-color: @background;
    border: 3px solid @primary;
    border-radius: 10px 80px 10px 80px;
    margin-right: 10px;
    padding: 0px 25px 0px 25px;
}

#tray menu {
    color: @secondary;
    background-color: alpha(@background, 0.90);
    border: 2px solid @primary;
    border-radius: 5px 50px 5px 50px;
    margin-top: 30px;
    margin-right: 10px;
    padding: 0px 25px 0px 25px;
}
