#window {
    border-radius: 10px 10px 100px 100px;
    border: 3px solid @color-primary;
    color: @color-primary;
    padding-left: 2.0rem;
    padding-right: 2.0rem;
}

window#waybar.empty #window {
    border: 0px;
    color: alpha(#000000, 0);
    background-color: alpha(#000000, 0);
    background: transparent;
}